* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;

    /* фон */
    background-image: url("./image_256x256.png");
    background-repeat: repeat;
    background-size: 12vmin 12vmin;
}

/* белый блок */
.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;

    background: rgba(255, 255, 255, 0.95);
    border-radius: 16px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* меню */
.menu a:hover {
    text-decoration: underline;
}

/* заголовок */
h1 {
    font-size: 30px;
    margin-top: 10px;
}

/* текст */
p {
    text-align: left;
    overflow-wrap: break-word;
}

/* картинки */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 15px;
}

/* мобильная версия */
@media (max-width: 600px) {
    body {
        background-size: 18vmin 18vmin;
    }

    .container {
        padding: 12px;
        border-radius: 12px;
    }

    h1 {
        font-size: 24px;
    }
}
