.menu { background: #CC0000; padding: 12px 20px;}
.menu a {
    color: #C0C0C0;
    text-decoration: none;
    margin-right: 20px;
}

.menu a.active {
    color: #FFD700;
    font-weight: bold;
    border-bottom: 2px solid #FFD700;
}
img[src="cehov.webp"] {
    max-width: 100%;
    height: auto;
}
img[src="h.png"] {
    max-width: 50%;
    height: auto;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;

    background-image: url("./image_256x256.png");
    background-repeat: repeat;
    background-size: 48vmin 48vmin;

    min-height: 100vh;
}

/* убираем белый блок полностью */
.container {
    background: transparent;
    max-width: 100%;
    margin: 0;
    padding: 20px;
}

/* текст поверх текстуры */
p, h1 {
    color: black;
}
